/* General Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #f7fafc;
  margin: 0;
  padding: 0;
}

header {
  background-color: #e2e8f0;
  padding: 20px 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .headerbrand {
  font-family: "Bebas Neue", sans-serif;
  color: #dad5d5;
  font-size: 30px;
  text-decoration: underline;
}

nav a {
  color: #dbd9d9;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

nav a:hover {
  color: #3182ce;
}

#home {
  background-color: #111417;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-align: center;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

#background-video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.bg-image {
  display: none;
}

@media (max-width: 768px) {
  #background-video {
    display: none;
  }
  .bg-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.maintext {
  font-size: 80px;
  font-weight: bold;
  font-family: "Teko", sans-serif;

  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.subinfo {
  font-size: 18px;
  color: #d9dadb;
  font-weight: lighter;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .subinfo {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#countdown-container {
  position: fixed;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
  z-index: 999;
}

.timerhide {
  visibility: hidden;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 50%;

  transform: translateX(50%);
  z-index: 999;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#days,
#hours,
#minutes,
#seconds {
  color: #111417;
}

footer {
  padding: 20px 0;
  text-align: center;
  background-color: #e2e8f0;
}

/* Make sure navbar styles are not overridden */
header nav a {
  color: #e2dede !important; /* Make sure it doesn’t get overridden */
}

header nav a:hover {
  color: #3182ce !important;
}


#about a:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

/* Keyframe Animations */
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bounceSlow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Animation Classes */
.animate-fadeInRight {
  animation: fadeInRight 2s ease-in-out;
}

.animate-bounceSlow {
  animation: bounceSlow 3s infinite ease-in-out;
}

.modal {
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 80%;
  overflow-y: auto;
}

.close-modal {
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.close-modal:hover,
.close-modal:focus {
  color: red;
  cursor: pointer;
}

.modal-header {
  text-align: center;
}

.modal-body {
  padding-top: 20px;
}

.modal-footer {
  padding-top: 20px;
  text-align: right;
}
